.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c3195d;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto;
    background-color: #407088;
}

.hour, .minute, .sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 200px;
    background-color: #00bbf0;
    margin: 20px;
    font-size: 4rem;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}
